.redcircle{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 10px;
  }

  .greencircle{
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 10px;
  }